<br>
<br>
<div class =banner>
<h1>Edit task</h1>

<%= render 'form', task: @task %>

<hr>
<div class =banner h1>
<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> <h1> Back to list</h1>
<% end %>
</div>